@page "/fetchdata"
@using Facturations.Shared
@inject HttpClient Http
@inject IbusinessData Data

<h1>Liste des Factures</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (@Data.Factures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="btn btn-primary">Chiffre d'affaire = @ca()</div>
  
    <table class="table">
        <thead>
            <tr>
                <th>Numéro de Facture</th>
                <th>Nom du client</th>
                <th>Date de facturation</th>
                <th>Date du reglement</th>
                <th>Montant du</th>
                <th>Montant réglé</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var facture in @Data.Factures)
            {
                <tr>
                    <td>@facture.Id</td>
                    <td>@facture.Name</td>
                    <td>@facture.BillingDate</td>
                    <td>@facture.PaymentDate</td>
                    <td>@facture.Amount</td>
                    <td>@facture.AmountPaid</td>

                </tr>
            }
        </tbody>
    </table>

}

@code {

    public int ca()
    {
        int ca = 0;

        @foreach (var facture in @Data.Factures)
        {
            ca += facture.AmountPaid;
        }
        return ca;
    }
}

